/* app/page.module.css */

.chatContainer {
    max-width: 600px;
    margin: 0 auto;
    padding-top: 20px;
  }
  
  .whitespace-pre-wrap {
    white-space: pre-wrap;
  }
  
  .fixed-bottom {
    bottom: 0;
    width: 100%;
  }
  .carouselImageContainer {
    position: relative;
    height:400px;
  }